:root {
  --transparent: transparent;
  --background: white;
  --background-color: white;
  --text-color: black;

  --red: #ff383c;
  --dark-red: #721c24;
  --orange: #ff8d28;
  --dark-orange: #ff8d28;
  --yellow: #ffcc00;
  --dark-yellow: #7e6c15;
  --green: #34c759;
  --dark-green: #155724;
  --mint: #00c8b3;
  --teal: #00c3d0;
  --cyan: #00c0e8;
  --blue: #0088ff;
  --dark-lite-blue: #0c5460;
  --dark-blue: #004085;
  --indigo: #6155f5;
  --purple: #cb30e0;
  --pink: #ff2d55;
  --brown: #ac7f5e;
  --dark-brown: #856404;
  --gray: #8e8e93;
  --gray-lite-1: #aeaeb2;
  --gray-lite-2: #c7c7cc;
  --gray-lite-3: #d1d1d6;
  --gray-lite-4: #e5e5ea;
  --gray-lite-5: #f2f2f7;
  --white: #ffffff;
  --black: #000000;
  --sidereal-black: #0a0a0a;

  --contrasted-red: #e9152d;
  --contrasted-orange: #c55300;
  --contrasted-yellow: #a16a00;
  --contrasted-green: #008932;
  --contrasted-mint: #008575;
  --contrasted-teal: #008198;
  --contrasted-cyan: #007eae;
  --contrasted-blue: #1e6ef4;
  --contrasted-indigo: #564ade;
  --contrasted-purple: #b02fc2;
  --contrasted-pink: #e7124d;
  --contrasted-brown: #956d51;
  --contrasted-gray: #6c6c70;
  --contrasted-gray-lite-1: #8e8e93;
  --contrasted-gray-lite-2: #aeaeb2;
  --contrasted-gray-lite-3: #bcbcc0;
  --contrasted-gray-lite-4: #d8d8dc;
  --contrasted-gray-lite-5: #ebebf0;
}