:root {
  --opacity-hidden: 0;
  --opacity-disabled: .5;
  --opacity-middle: .5;
  --opacity-backdrop: .7;
  --opacity-unfocused: .8;
  --opacity-visible: 1;

  --opacity-ghost: .1;
  --opacity-faint: .2;
  --opacity-subtle: .3;
  --opacity-light: .4;
  --opacity-medium: .5;
  --opacity-moderate: .6;
  --opacity-strong: .7;
  --opacity-bold: .8;
  --opacity-intense: .9;
  --opacity-full: 1;

  --background-opacity: .35;
}