:root {
  --space-tiny: 0.25rem;
  --space-tight: 0.35rem;
  --space-cozy: 0.5rem;
  --space-cozy-comfortable: 0.75rem;
  --space-comfortable: 1rem;
  --space-relaxed: 1.5rem;
  --space-loose: 2rem;
  --space-spacious: 3rem;

  --container-padding: 1rem;
  --container-margin: 0rem;
}